body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	margin-right: 10px;
	margin-left: 10px;
}
.leftNav {
	border: 1px solid #00FF00;
	background-color: #d4e8ee;
	width: 25%;
	float: left;
	margin: 0px 10px 0px 0px;
	padding: 5px;
}
.leftNav ul {
	padding-left: 20px;
	padding: 10px;
	margin-left: 0px;
	list-style-type: square;
	line-height: 150%;
}
.rightNav {
	border: 1px solid #00FF00;
	background-color: #d4e8ee;
	width: 25%;
	float: right;
	margin: 0px 0px 0px 10px;
	padding: 10px;
}
.middle {
}
.style1 {
	text-decoration: underline;
}
h1 {
	text-align:center;
}
table {
	margin-left: auto;
	margin-right: auto;
	border: 1px solid black;
	border-collapse:collapse;
}
tr {
	border: 1px solid black;
}
td {
	border: 1px solid black;
}